{
  "swagger": "2.0",
  "info": {
    "title": "BytePerks API",
    "description": "API Documentation for BytePerks",
    "version": "1.0.0"
  },
  "host": "api.byteperks.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v1/config/": {
      "get": {
        "tags": [
          "Config"
        ],
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/nav/": {
      "get": {
        "tags": [
          "Navigation"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/nav/create": {
      "post": {
        "tags": [
          "Navigation"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "example": "any"
                },
                "link": {
                  "example": "any"
                },
                "submenu": {
                  "example": "any"
                },
                "parent": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/nav/update/{id?}": {
      "post": {
        "tags": [
          "Navigation"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/nav/delete/{id?}": {
      "post": {
        "tags": [
          "Navigation"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/hero/": {
      "get": {
        "tags": [
          "Hero"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/hero/create": {
      "post": {
        "tags": [
          "Hero"
        ],
        "description": "",
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/hero/update/{id?}": {
      "post": {
        "tags": [
          "Hero"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/hero/delete/{id?}": {
      "post": {
        "tags": [
          "Hero"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/trusted/": {
      "get": {
        "tags": [
          "Trusted"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/trusted/create": {
      "post": {
        "tags": [
          "Trusted"
        ],
        "description": "",
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/trusted/update/{id?}": {
      "post": {
        "tags": [
          "Trusted"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/trusted/delete/{id?}": {
      "post": {
        "tags": [
          "Trusted"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/casestudy/": {
      "get": {
        "tags": [
          "Casestudy"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/casestudy/{uniqid?}": {
      "get": {
        "tags": [
          "Casestudy"
        ],
        "description": "",
        "parameters": [
          {
            "name": "uniqid?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/casestudy/create": {
      "post": {
        "tags": [
          "Casestudy"
        ],
        "description": "",
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/casestudy/update/{id?}": {
      "post": {
        "tags": [
          "Casestudy"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/casestudy/delete/{id?}": {
      "post": {
        "tags": [
          "Casestudy"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/blogs/": {
      "get": {
        "tags": [
          "Blogs"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/blogs/{uniqid?}": {
      "get": {
        "tags": [
          "Blogs"
        ],
        "description": "",
        "parameters": [
          {
            "name": "uniqid?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/blogs/create": {
      "post": {
        "tags": [
          "Blogs"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "example": "any"
                },
                "badge": {
                  "example": "any"
                },
                "content": {
                  "example": "any"
                },
                "image": {
                  "example": "any"
                },
                "readtime": {
                  "example": "any"
                },
                "views": {
                  "example": "any"
                },
                "category": {
                  "example": "any"
                },
                "tags": {
                  "example": "any"
                },
                "description": {
                  "example": "any"
                },
                "meta": {
                  "example": "any"
                },
                "date": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/blogs/update/{id?}": {
      "post": {
        "tags": [
          "Blogs"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/blogs/delete/{id?}": {
      "post": {
        "tags": [
          "Blogs"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/features/": {
      "get": {
        "tags": [
          "Features"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/features/create": {
      "post": {
        "tags": [
          "Features"
        ],
        "description": "",
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/features/update/{id?}": {
      "post": {
        "tags": [
          "Features"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/features/delete/{id?}": {
      "post": {
        "tags": [
          "Features"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/social/": {
      "get": {
        "tags": [
          "Social"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/social/create": {
      "post": {
        "tags": [
          "Social"
        ],
        "description": "",
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/v1/social/update/{id?}": {
      "post": {
        "tags": [
          "Social"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/social/delete/{id?}": {
      "post": {
        "tags": [
          "Social"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id?",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}